@page "/datenverwaltung"

<h1>Stammdatenverwaltung</h1>

Um zur Stammdatenansicht und -aenderung zu gelangen, waehlen Sie bitte eine der beiden Kategorien aus.
<br />
<br />

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Benutzer</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Benutzer verwalten</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Stammdatenaenderungen</li>
                    <li>Kontaktdatenaenderungen</li>
                    <li>Positivmeldung</li>
                </ul>
                <a href="/Benutzers/index"><button type="button" class="btn btn-lg btn-block btn-primary">Verwalten</button></a>     
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Location</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Location verwalten</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Restaurants</li>
                    <li>Einzelhandel</li>
                    <li>Private Events</li>
                </ul>
                <a href="/Locations/index"><button type="button" class="btn btn-lg btn-block btn-primary">Verwalten</button></a>
            </div>
        </div>
    </div>
</div>
