@page "/"
@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />*@





<h1>Hier sollen dann aktuelle Fallzahlen und Kennzahlen oder so rein</h1>

    Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<!--fügt eine SurveyPrompt.razor Komponente ein und übergibt den Parameter Title-->
<SurveyPrompt Title="TestTest" />

<Counter Wert="10" />


